// Colores de Simon Dice
$color1: blue;
$color2: red;
$color3: green;
$color4: yellow;
// SCSS Principal
html,
body {
    height: 100%;
}

h3 {
    font-size: medium;
}

.titulo {
    //    margin-bottom: 20px; 
    background-color: darkcyan;
    color: darkblue;
}

.cont-principal {
    height: 93%;
    padding: 0 1em;
    .row-principal {
        height: 100%;
    }
    .opciones {
        border: 2px solid;
    }
    .simon-dice {
        .row {
            height: 50%;
        }
        .col-6 {
            height: 100%;
            box-shadow: 5px 5px 23px -15px rgba(0, 0, 0, 0.75);
            transition: background-color 0.5s ease-out;
        }
        text-align: center!important;
        border: 2px solid;
        padding: 5%;
    }
}

#cuadrado1 {
    background-color: $color1;
    &:hover {
        background-color: lighten($color1, 30%)
    }
}

#cuadrado2 {
    background-color: $color2;
    &:hover {
        background-color: lighten($color2, 30%)
    }
}

#cuadrado3 {
    background-color: $color3;
    &:hover {
        background-color: lighten($color3, 30%)
    }
}

#cuadrado4 {
    background-color: $color4;
    &:hover {
        background-color: lighten($color4, 30%)
    }
}